@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

hmtl,
body {
  height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  display: flex;
  gap: 2vw;
  list-style-type: none;
}

nav ul {
  align-items: center;
}

a {
  text-decoration: none;
  color: #eee;
  font-weight: bold;
  font-size: 1.25vw;
  display: flex;
}

.product-image {
  width: 12vw;
}

#products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 0 auto 0;
  gap: 2vw;
}

h1 {
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

#home {
  background-image: url("./images/bckg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home h1 {
  color: #eee;
  margin-top: auto;
}

.product-container button {
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  transition: color 0.3s, background-color 0.3s;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}

.product-container button:hover {
  background-color: rgb(47, 142, 231);
  color: #eee;
}

.product-container button:active {
  background-color: rgb(46, 113, 175);
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 0 20px 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #2f8ee7;
  color: #eee;
  font-size: 1.25vw;
  margin-bottom: auto;
  width: 100%;
  height: 7.5vh;
}

#cart-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 auto;
}

#cart-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 15%;
}

#cart-items li {
  border-radius: 15px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 35%);
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cart-items h1 {
  margin-top: 0;
}

.bold {
  font-weight: bold;
}

.img-container {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button {
  width: 70px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
  font-weight: bold;
  padding: 5px;
}

.delete-button:hover {
  background-color: rgb(45, 164, 233);
  color: #eee;
}

button:disabled {
  cursor: not-allowed;
}

.minus-button,
.plus-button {
  width: 30px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.minus-button {
  border-radius: 5px 0 0 5px;
}

.plus-button {
  border-radius: 0px 5px 5px 0px;
}

.minus-button:hover,
.plus-button:hover {
  background-color: rgb(216, 211, 211);
}

.quantity-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.operation-container {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
}

.item-quantity {
  display: flex;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 0 10px;
}

#nav-cart-container {
  display: flex;
  align-items: center;
}

#cart-size {
  background-color: rgb(45, 164, 233);
  padding: 0.1vw 0.19vw;
  border-radius: 50%;
  font-size: 12px;
  align-self: flex-start;
  margin-bottom: 18px;
}

#checkout-button {
  width: 120px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
  font-weight: bold;
  padding: 8px;
}

#checkout-button:hover {
  background-color: rgb(45, 164, 233);
  color: #eee;
}
